
body {
    background: palegoldenrod;
}

/*--------------- HEADER --------------------- */
header {
    padding: 0 !important;
    background: white;
}

header figure img  {
    max-height: 17em;
    width: 100%;
    margin: 0 !important;
}
header figcaption {
    background: white;
}
header figcaption h1 {
    color: mediumslateblue;
    margin: 0;
    font-size: 4em;
}
/* header figcaption {
    position: absolute;
    left: 26em;
    top: 13.1em;
} */
/*--------------- FIN HEADER --------------------- */

legend {
    color: grey;
    font-style: italic
}

label {
    font-style: italic;
}


/* -------------------MAIN------------------ */
main {
    padding: 4em 1em;
}

#iframe_partie_contact {
    height: 100%;
    width: 100%;
}
/* ---------------------FIN MAIN --------------------*/





/* ----------------  FOOTER -------------- */



/* espace marge interieure taille police liens nav footer */
footer nav a.nav-link {
    padding: 1em;
    font-size: 1.1em;
}

.contact_social {
    padding: 1.5em;
}