
/* STYLES GENERAUX ET COMMUNS */
body {
    background-image: url("../../assets/img/logos_images_index/fond.png");
    background-repeat: repeat-x;
}

.container {
    /* centrage */
    margin: 0 auto;
}

header, .img-chat, nav, .navbar  {
    background: lavender;
}

main,footer {
    background: palegoldenrod;
}

/* --------------------HEADER-------------------*/
.titre_principal, .titre_secondaire {
    color: darkslategray;
    font-weight: bold;
}
.titre_principal + p,.titre_principal + p + p, #adoption {
    color: palevioletred;
}

.presentation {
    margin: auto;
}

.signature_cat {
    font-size: 2em;
}

.figure_chat {
    margin: auto;
    max-height: 24em;
}
.img-chat {
   margin: 0;
} 

/* ---------------FIN HEADER-------------------- */


/*---------------- NAV ------------------------------ */

nav {
    background: lightblue;
}

nav a.nav-link {
    padding: 1em;
    font-size: 1.1em
}


/*---------------- FIN NAV --------------------------*/


/* ------------------ MAIN ---------------------- */

.jumbotron {
    background: none;
    margin-bottom: 0;
}

/* bonjour */
.miaou {
    font-family: cursive;
}

/* SECTION PARCOURS */

#parcours {
    margin-bottom: 3.7em;
}

h3 {
    margin-bottom: 1.4em;
    color: darkslategray;
    font-weight: bold;
    font-size: 2.3em;
}

.primary_info{
    font-weight: bold;
}
.logo_parcours {
    width: 80%;
}
/* ------------------ FIN MAIN ---------------------- */



/* FOOTER */
footer {
    background: lavender;
}
.titre_secondaire {
    margin-bottom: 1em;
    padding-top: 0.3em;
    font-size: 2.7em;
}

.lien_contact {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

.titre_iframe {
    font-weight: bold;
    color: darkslategray;
    margin-bottom: 0.6em;
}

.div_social {
    margin: auto;
}
/* icones */
.social_img {
    width: 7em;
}